*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
}

body{
    background-color: black;
    color: white;
}



.img-container > img{
    height: 290px;
    width: 210px;
    background-size: cover;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 5px 20px;
    border: none;
    transition: transform 0.6s ease;
}

.img-container > img:hover{
    transform: scale(1.4);
}

.name{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 5px 5px 20px;   
}

.portfolio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: chartreuse;
    text-shadow: 5px 5px 10px;
    text-decoration: underline;
}

.in-expert{
    font-size: 70px;
    color: rgb(255, 238, 0);
}


